* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.principal {
  height: 100vh;
  background-image: url(../fondos/6327211.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
}
.principal .job {
  font-weight: bold;
  color: red;
  font-style: normal;
}

.info {
  padding-top: 230px;
  text-align: center;
}

.activeInfo {
  padding-top: 102px;
}

header {
  display: flex;
  align-items: center;
}
header img {
  width: 20%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header .title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
header .toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
header .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-button {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-links {
  display: none;
}

.active {
  display: flex;
}
.active li {
  list-style: none;
}
.active li a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  color: #CCCAC8;
  padding: 3px;
  display: block;
}
.active ul {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.about {
  display: flex;
  justify-content: center;
}

.gif-container {
  background: url("../img/triangleGif.gif");
  background-size: cover;
  height: 140px;
  width: 140px;
  clip-path: polygon(22% 22%, 92% 22%, 51% 95%, 9% 22%);
}

.infoAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoAbout span {
  text-align: center;
  font-size: 1.3em;
}
.infoAbout .mePhoto {
  max-width: 35%;
}

.trayectoria {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 33px solid #242424;
  animation: breath 1s ease-in-out infinite;
}

.proyectos {
  background-color: #1f1f1f;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.tra1 {
  clip-path: circle(50% at 50% 50%);
}

.tra2 {
  clip-path: circle(29.9% at 53% 53%);
}

.tra3 {
  width: 230px;
  clip-path: circle(52.9% at 50% 46%);
}

.tra4 {
  width: 180px;
}

@media (min-width: 768px) {
  .trayectoria span {
    font-size: 1.5em;
  }
  .principal {
    display: flex;
    justify-content: space-between;
  }
  header .title {
    width: 40%;
  }
  header .navbar-links {
    display: flex;
    flex-direction: row;
  }
  header .navbar-links li {
    list-style: none;
    position: relative;
  }
  header .navbar-links a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }
  header .navbar-links a:hover::before {
    width: 100%;
  }
  header .navbar-links a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr);
  }
  header .navbar-links ul {
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    gap: 50px;
    display: flex;
  }
  header .navbar {
    display: flex;
    flex-direction: row;
  }
  header .toggle-button {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
