* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.principal {
  height: 100vh;
  background-image: url(../fondos/6327211.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.principal .job {
  font-weight: bold;
  color: red;
  font-style: normal;
}

.info {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
}
header img {
  width: 20%;
  height: 20%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header .title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
header .toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
header .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.toggle-button {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-links {
  display: none;
}

.active {
  display: flex;
}
.active li {
  list-style: none;
}
.active li a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  color: #CCCAC8;
  padding: 3px;
  display: block;
}
.active ul {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.about {
  display: flex;
  justify-content: center;
}

.gif-container {
  background: url("../img/triangleGif.gif");
  background-size: cover;
  height: 140px;
  width: 140px;
  clip-path: polygon(22% 22%, 92% 22%, 51% 95%, 9% 22%);
}

.infoAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoAbout span {
  text-align: center;
  font-size: 1.3em;
}
.infoAbout .mePhoto {
  border-radius: 10px;
  width: 45%;
  height: 45%;
}

:nth-of-type(5) {
  transform: translate(calc((5 - 1) * var(--offset)), calc((5 - 1) * var(--offset)));
}

.wrapper {
  margin: 0 auto;
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 50vh;
}
.scroll-cards a {
  font-weight: bold;
  color: rgba(239, 0, 0, 0.7803921569);
}
.scroll-cards p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.scroll-cards h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15px;
  border-bottom: 2px solid;
  font-size: 1.5rem;
}
.scroll-cards h3 svg {
  fill: rgba(239, 0, 0, 0.7803921569);
}
.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 40vh;
}
.scroll-cards h1 {
  position: sticky;
  top: 2rem;
  font-size: 2em;
  margin: 0 0 0.5em;
}
.scroll-cards__item {
  margin: 10px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
  position: sticky;
  top: max(16vh, 10em);
  padding: 2em 1.5em;
  min-height: 19em;
  background: #fff;
  box-shadow: -1px 0px 18px 20px rgba(0, 0, 0, 0.1);
  width: calc(100% - 5 * var(--offset));
}
.scroll-cards__item::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  right: 0;
  top: 0;
  position: absolute;
  border-color: transparent black transparent transparent;
}
.scroll-cards__item p {
  font-size: 1.2rem;
}

.trayectoria {
  margin-top: 85px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 33px solid #242424;
  animation: breath 1s ease-in-out infinite;
}

.proyectos {
  background-color: #151515;
}
.proyectos section h2 {
  color: white;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.tra1 {
  clip-path: circle(50% at 50% 50%);
  width: 30%;
  height: 30%;
}

.tra2 {
  clip-path: circle(29.9% at 53% 53%);
  width: 45%;
  height: 45%;
}

.tra3 {
  width: 25%;
  height: 25%;
  clip-path: circle(52.9% at 50% 46%);
}

.tra4 {
  width: 20%;
  height: 20%;
}

.proyectos {
  color: white;
  text-align: center;
  display: grid;
  gap: 70px;
}
.proyectos .pro1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.proyectos .pro1 .imgPro1 {
  filter: grayscale(100%);
  width: 67%;
  height: 100%;
}
.proyectos .pro1 .imgPro1:hover {
  transition: 2s;
  filter: grayscale(0%);
}
.proyectos .pro2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.proyectos .pro2 .imgPro2 {
  filter: grayscale(100%);
  width: 67%;
  height: 67%;
}
.proyectos .pro2 .imgPro2:hover {
  transition: 2s;
  filter: grayscale(0%);
}
.proyectos .pro3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.proyectos .pro3 .imgPro3 {
  filter: grayscale(100%);
  width: 60%;
  height: 60%;
}
.proyectos .pro3 .imgPro3:hover {
  transition: 2s;
  filter: grayscale(0%);
}

main h2 {
  text-align: center;
  font-size: 2rem;
}

.logoHtml {
  width: 15%;
  height: 15%;
}

.logoCss {
  width: 15%;
  height: 15%;
}

.logoJs {
  width: 15%;
  height: 15%;
}

.logoJava {
  width: 15%;
  height: 15%;
}

.logoScene {
  width: 15%;
  height: 15%;
}

.skills h2 {
  text-align: center;
  border-bottom: 3px solid;
}

.hardSkills {
  padding: 20px;
  border: 4px solid black;
  box-shadow: rgb(0, 0, 0) 0px 0px 14px 0px, rgb(238, 232, 232) 0px -1px 20px 20px;
}

.softSkills {
  padding: 20px;
  border: 4px solid black;
  box-shadow: rgb(0, 0, 0) 0px 0px 14px 0px, rgb(238, 232, 232) 0px -1px 20px 20px;
}

.wrapper-skills {
  background-color: rgba(0, 0, 0, 0.1490196078);
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 25px;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
.wrapper-skills ul {
  display: grid;
  gap: 25px;
  padding: 0;
  list-style: none;
}
.wrapper-skills ul li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 1.1rem;
}
.wrapper-skills ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 275px;
  height: 25px;
  transform: skew(-31deg) translateX(-50%);
  background: #ff315e;
  z-index: -1;
}

.socialImg {
  background-image: url(../fondos/social-media.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.social {
  width: 60%;
}

.skillsImg {
  background-color: black;
  background-image: url(../fondos/skills.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  min-height: 100vh;
}

.contacto {
  background: linear-gradient(90deg, rgba(255, 49, 94, 0.8) 0%, rgb(255, 37, 84) 50%, rgba(255, 49, 94, 0.8) 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  justify-items: center;
  justify-content: center;
  color: white;
}
.contacto ul {
  display: flex;
  padding-left: 0;
  gap: 20px;
}
.contacto ul li {
  list-style: none;
}
.contacto ul a {
  color: white;
  text-decoration: none;
}
.contacto .fa-telegram, .contacto .fa-twitter, .contacto .fa-envelope, .contacto .fa-linkedin, .contacto .fa-github {
  font-size: 2em;
}
.contacto h2 {
  color: white;
  text-align: left;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(2) {
  border: 2px solid white;
  box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 14px 0px, rgb(238, 232, 232) 0px -12px 18px 0px;
}
section:nth-child(3) {
  border: 2px solid white;
  box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 14px 0px, rgb(238, 232, 232) 0px 0px 20px 15px;
}
section:nth-child(4) {
  border: 2px solid white;
  box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 14px 0px, rgb(238, 232, 232) 0px 12px 18px 0px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.8s ease;
}

.seeProyect {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.activeFade {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateY(0px);
  opacity: 1;
}

footer {
  padding-bottom: 20px;
  display: grid;
  justify-items: center;
  margin-top: 50px;
  gap: 40px;
  background-color: #0f1922;
}
footer ul {
  width: 85%;
  padding-left: 0px;
  border-top: 1px rgba(217, 228, 238, 0.6705882353) solid;
  border-bottom: 1px rgba(217, 228, 238, 0.6705882353) solid;
  gap: 40px;
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
}
footer ul li {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer img {
  width: 15%;
  height: 100%;
}
footer span {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

@media (min-width: 768px) {
  .contacto {
    background: linear-gradient(90deg, rgb(139, 117, 255) 10%, rgb(255, 49, 226) 50%, rgb(55, 255, 61) 90%);
  }
  .wrapper-skills {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  .wrapper-skills ul li {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-size: 1.7rem;
  }
  .wrapper-skills ul li::before {
    content: "";
    background-color: #ff315e;
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  .wrapper-skills ul li:hover::before {
    bottom: 0;
    height: 100%;
  }
  .logoHtml {
    width: 10%;
    height: 10%;
  }
  .logoCss {
    width: 15%;
    height: 15%;
  }
  .logoJs {
    width: 10%;
    height: 10%;
  }
  .logoJava {
    width: 10%;
    height: 10%;
  }
  .logoScene {
    width: 10%;
    height: 10%;
  }
  .proyectos .pro1 .imgPro1 {
    max-width: 60%;
  }
  .proyectos .pro2 .imgPro2 {
    max-width: 40%;
  }
  .proyectos .pro3 .imgPro3 {
    max-width: 50%;
  }
  .trayectoria span {
    font-size: 1.5em;
  }
  .principal {
    display: flex;
    justify-content: space-between;
  }
  header .title {
    width: 40%;
  }
  header .navbar-links {
    display: flex;
    flex-direction: row;
  }
  header .navbar-links li {
    list-style: none;
    position: relative;
  }
  header .navbar-links a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }
  header .navbar-links a:hover::before {
    width: 100%;
  }
  header .navbar-links a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr);
  }
  header .navbar-links ul {
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    gap: 50px;
    display: flex;
  }
  header .navbar {
    display: flex;
    flex-direction: row;
  }
  header .toggle-button {
    display: none;
  }
  .skillsImg {
    background-size: contain;
  }
  .socialImg {
    background-image: url(../fondos/social.webp);
  }
}
@media (min-width: 1024px) {
  .skillsImg {
    background-size: cover;
  }
  footer img {
    width: 10%;
    height: 100%;
  }
  .infoAbout .mePhoto {
    width: 20%;
    height: 20%;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  .logoCss {
    width: 10%;
  }
  .logoHtml {
    width: 10%;
  }
  .tra1 {
    clip-path: circle(50% at 50% 50%);
    width: 10%;
    height: 10%;
  }
  .tra2 {
    clip-path: circle(29.9% at 53% 53%);
    width: 20%;
    height: 20%;
  }
  .tra3 {
    width: 12%;
    height: 12%;
    clip-path: circle(52.9% at 50% 46%);
  }
  .tra4 {
    width: 12%;
    height: 12%;
  }
  .trayectoria span {
    font-size: 1.6em;
  }
  .proyectos .pro1 .imgPro1 {
    width: 40%;
    height: 40%;
  }
  .proyectos .pro2 .imgPro2 {
    width: 35%;
    height: 35%;
  }
  .proyectos .pro3 .imgPro3 {
    width: 40%;
    height: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
